    <% if @cat.errors.any? %>
      <ul>
      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
    
    <p>
    <%= f.label :name, "貓貓名：" %>
    <%= f.text_field :name %>
    </p>