<h1>編輯貓貓資料</h1>
<%= form_for @cat, url: event_cat_path(@event, @cat), method: :put do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "我變" %><%= link_to '不想變了', event_path(@event) %>
<% end %>